# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_LEYLABELLA_M1
	def_bool $(shields_list_contains,leylabella_m1)

config SHIELD_LEYLABELLA_M2
	def_bool $(shields_list_contains,leylabella_m2)
